/*general*/
/*:root {
  
  --section-bg-color: #f5f4fa;
  --whaite--bg-color: #ffffff;
  --black-bg-color: #000000;
  --secondary-bg-btn: #188ce8;
  --secondary-bg-color: #2f303a;
  --whaite--bg-color-60: rgba(255, 255, 255, 0.6);
  --gradient-color: rgba(47, 48, 58, 0.4);
  --overley-bg: rgba(33, 150, 243, 0.9);
  --backdrop-bg:rgba(0, 0, 0, 0.2);
  --work-txt-bg:rgba(47, 48, 58, 0.8);

  --primery-txt-color: #212121;
  --secondary-txt-color: #757575;
  --accent-txt-color: #2196f3;
  --whaite-txt-color: #ffffff;
  --black-txt-color: #000000;

  --line-color: #ececec;
  --border-color: #eeeeee;
  --social-icon: #afb1b8;
  --social_dark:rgba(255, 255, 255, 0.1);
  --border-btn-01:rgba(0, 0, 0, 0.1);
  --icon-hover: #188CE8;
  --btn-bg-hover: #188CE8;
  --input-border:rgba(33, 33, 33, 0.2);
  --input-hover: #2196F3;
  --input-border-light: rgba(255, 255, 255, 0.3);
  --input-placeholder:rgba(255, 255, 255, 0.6);

  --primery-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --shadow-color-08: rgba(0, 0, 0, 0.08);
  --shadow-color-12: rgba(0, 0, 0, 0.12);
  --shadow-color-15: rgba(0, 0, 0, 0.15);
  --shadow-color-14: rgba(0, 0, 0, 0.14);
  --shadow-color-02: rgba(0, 0, 0, 0.2);
  --shadow-color-01: rgba(0, 0, 0, 0.1);
}*/
/*
body {
  background-color: var(--whaite--bg-color);
  color: var(--primery-txt-color);
  font-family: var(--primery-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}


h1,
h2,
h3,
p {
  margin: 0;
}*/
/*.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.link {
  text-decoration: none;
}
.item {
  position: relative;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 0;
}

.header {
  border-bottom: 1px solid var(--line-color);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 93px;}

.logo {
  color: var(--accent-txt-color);
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo__dark {
  color: var(--black-bg-color);
}
.logo__light {
 color: var(--whaite--bg-color);
}

.nav__list {
  display: flex;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primery-txt-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--accent-txt-color);
}
.nav__link--active {
  color: var(--accent-txt-color);
}
.nav__link--current::after {
  color: var(--accent-txt-color);
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-txt-color);
  position: absolute;
  left: 0;
  bottom: 0;
}
.contact {
  display: flex;
  margin-left: auto;
}
.contact .item + .item {
  margin-left: 50px;
}
.contact__link {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--secondary-txt-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover,
.contact__link:focus {
  color: var(--accent-txt-color);
}
.contact__icon {
  fill: currentColor;
}*/
/* main
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  background-repeat: no-repeat;

  background-color: var(--secondary-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/page-1/hero-1/hero-backgraund.jpg);
  background-position: center;
  background-size: cover;
}
.hero__title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  color: var(--whaite-txt-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero__btn{
margin: 0 auto;
padding: 10px 32px;
}
.btn {
  display: block;
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  background-color: var(--accent-txt-color);
  font-family: inherit;
  color: var(--whaite-txt-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30/16);
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color,box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: var(--secondary-bg-btn);
  box-shadow: 0px 4px 4px var(--shadow-color-15);
}*/
/*modal
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;
  background: var(--backdrop-bg);

  transition: visibility 2000ms cubic-bezier(0.4, 0, 0.2, 1), opacity 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--whaite--bg-color);
  box-shadow: 0px 1px 3px var(--shadow-color-12), 
    0px 1px 1px var(--shadow-color-14),
    0px 2px 1px var(--shadow-color-02);
  border-radius: 4px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__btn {
  height: 30px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: var(--whaite--bg-color);
  border: 1px solid var(--border-btn-01);
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover,
.modal__btn:focus {
  fill: var(--accent-txt-color);
  box-shadow: 0px 1px 3px var(--shadow-color-12), 
    0px 1px 1px var(--shadow-color-14),
    0px 2px 1px var(--shadow-color-02);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}*/
/*
.btn__icon {
  fill: currentColor;
}
.btn__icon:hover,
.btn__icon:focus {
  fill: #188CE8 ;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form{
  padding: 40px;
}
.form__title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23/20);
  color: var(--primery-txt-color);
}
.form__grup{
  display: block;
  margin-bottom: 20px;
}
.form__field {
  display: block;
  position: relative;
  margin-bottom: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__argeement {
  display: flex;
  padding-left: 12px;
  gap: 7px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.field__label{
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;
  color: var(--secondary-txt-color);
}
.field__input{
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--input-border);
  padding-left: 42px;
  outline: transparent;
  border-radius: 4px;
 }
.field__icon{
  position: absolute;
  bottom: 11px;
  left: 12px;
}
.field__input:focus {
  border: 1px solid var(--input-hover);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field__input:focus + .field__icon{
  fill: var(--input-hover);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field__textarea {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid var(--input-border);
  
  padding: 12px;
 
  border-radius: 4px; 
  resize: none;
  outline: transparent;
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;
 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field__textarea:focus {
  border: 1px solid var(--input-hover);
}
.checkbox__icon { 
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  
  border: 2px solid var(--primery-txt-color);
  box-shadow: 0px 1px 3px var(--shadow-color-12), 
    0px 1px 1px var(--shadow-color-14), 
    0px 2px 1px var(--shadow-color-02);
  border-radius: 4px;
}
.checkbox:checked + .checkbox__icon {
  background-image: url('../images/icon-check5.svg');
  background-size: contain;
  background-origin: border-box;
  border: none;
}
.checkbox__desc{
  font-size: 14px;
  line-height: calc(24/14);
  color: var(--secondary-txt-color);
}
.checkbox__link{
  color: var(--accent-txt-color);


.btn--submit{
  display: flex;
  border: none;
  margin: 0 auto;

  padding: 10px 50px;
  }
.btn--submit:hover,
.btn--submit:focus {
  background: var(--btn-bg-hover);
  box-shadow: 0px 4px 4px var(--shadow-color-15);
}
}*/
/*section

.section__title {
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}
.features__box-icons{
  background-color: var(--section-bg-color);
  padding: 25px 100px;
  justify-items: center;
  margin-bottom: 30px;
}
.features__title {
  color: var(--primery-txt-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__text {
  color: var(--secondary-txt-color);
  line-height: calc(24 / 14);
}

.work__item:not(:last-child) {
  margin-right: 30px;
}
.work__box {
  position: relative;
}
.work__txt {
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--whaite-txt-color);
  background-color: var(--work-txt-bg);

  position: absolute;
  bottom: 0;
}

.team {
  background-color: var(--section-bg-color);
}
.team__item {
  box-shadow: 0px 1px 3px var(--shadow-color-12), 
    0px 1px 1px var(--shadow-color-14),
    0px 2px 1px var(--shadow-color-02);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--whaite--bg-color);
}
.team__item:not(:last-child) {
  margin-right: 30px;
}
.team__txt {
  padding: 30px 0;
}
.team-box__name {
  margin-bottom: 10px;

  color: var(--primery-txt-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}
.team-box__position {
  padding-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-txt-color);
}
.socials__list {
  justify-content: center;
  display: flex;
  gap: 10px;
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--whaite--bg-color);
  color: var(--social-icon);
  border-radius: 50%;

  transition-property: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon {
  fill: currentColor;
}
.social__link:hover,
.social__link:focus {
  background-color: var(--accent-txt-color);
  color: var(--whaite--bg-color);
}
.clients__list {
  display: flex;
  gap: 30px;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--social-icon);
  border-radius: 4px;
  width: 170px;
  height: 92px;

  color: var(--social-icon);

  transition-property: color, border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-txt-color);
  color: var(--accent-txt-color);
}
.clients__icon {
  fill: currentColor;
}
*/
/*footer

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}
.footer__wrap {
  display: flex;
  align-items: baseline;
}
.footer__box {
  margin-right: 70px;
}

.adress__box {
  margin-top: 20px;
}
.adress__list{
  display: block;
}
.adress__item:not(:last-child) {
  margin-bottom: 9px;
}
.adress__link {
  color: var(--whaite-txt-color);
  font-style: normal;
  line-height: 1.7;
}
.adress__link:hover{
  color: var(--accent-txt-color);
  transition-property: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__contact {
  color: var(--whaite--bg-color-60);
  font-style: normal;
  line-height: 1.7;

  transition-property: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__contact:hover,
.adress__contact:focus {
  color: var(--accent-txt-color);
}
.futer__socials {
  display: block;
}
.socials__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--whaite-txt-color);
}
.social__link--dark {
  background-color: var(--social_dark);
  color: var(--whaite--bg-color);
}

.footer__form {
  margin-left: auto;
}
.form__subscription {
  display: flex;
}
.footer__title{
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--whaite-txt-color);
  margin-bottom: 20px;
}
.subscription__input {
  color: var(--whaite-txt-color);
  height: 50px;
  width: 358px;
  padding-left: 10px;
  border: 1px solid var(--input-border-light);
  border-radius: 4px;
  background-color: inherit;
  margin-right: 10px;
}
.subscription__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20/16);
  color: var(--input-placeholder);
}
.form__btn--icon {
  display: flex;
  justify-content: center;;
  color: var(--whaite--bg-color);
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  gap: 10px;
}
.subscription__icon {
  fill: var(--whaite--bg-color) ;
  margin-right: 28px;}
 
.portfolio__btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.btns__item:not(:last-child) {
  margin-right: 8px;
}*/
/*
.btn--small {
  white-space: nowrap;
  padding: 6px 22px;
  border: none;
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
}
.btn--smal:hover,
.btn--smal:focus {
  color: var(--whaite-txt-color);
  background-color: var(--accent-txt-color);
  box-shadow: 0px 3px 1px var(--shadow-color-01), 
    0px 1px 2px var(--shadow-color-08),
    0px 2px 2px var(--shadow-color-12);
}
.btn--active {
  background-color: var(--accent-txt-color);
  color: var(--whaite-txt-color);
  box-shadow: 0px 3px 1px var(--shadow-color-01), 
    0px 1px 2px var(--shadow-color-08),
    0px 2px 2px var(--shadow-color-12);
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio__item {
  width: 370px;

  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.card__link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover,
.card__link:focus {
  box-shadow: 0px 1px 1px var(--shadow-color-12), 
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__thumb {
  position: relative;
  overflow: hidden;
}
.card__txt {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--border-color);
}
.card__headline {
  margin-bottom: 4px;

  color: var(--primery-txt-color);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.card__descr {
  color: var(--secondary-txt-color);
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}
*/
.overley {
  width: 100%;
  height: 100%;
  display: flex;

  transform: translateY(100%);

  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--overley-bg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overley__desc {
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--whaite-txt-color);
}
.portfolio__item:hover .overley,
.portfolio__item:focus .overley{
  transform: translateY(0);
}

